@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

footer{
    display: flex;
    font-size: 10px;
    justify-content: center;
    color: grey;
}
body{
    font-family: arial;
    font-size: 20px;
    background-color: #eee;
    width: 100%;
} 

/*class*/
img.img-icon{
    height: 27px;
    width: 27px;
}

a.act {
    text-decoration: none;
    color: #00d1ff;
}   

textarea{
    outline: none;
    resize: none;
    border-radius: 20px;
    border: none;
    text-decoration: none;
    box-sizing:border-box;
    padding: 10px 10px;

}

/*Menu lateral*/
.menu-list{
    padding: 0;
    align-items: rights;
    transition: display 0.5s, opacity 0.5s;
    list-style-position: outside;
    list-style: none;
    
}
.list-item{

    color: black;
    font-size: 20px;
    position: relative;
    right: 0;

}

/*jsus la vamos nos -- inicio do css do feed --*/

.outline{
    width: 100%;
    border-radius: 20px;
    background-color: white;
    padding: 10px 10px;
    box-sizing: border-box;
    margin-bottom: 3%;
}

.box{
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.box img{
    height: 28px;

}
.main-initial-box{ 
    height: 80px;
    width: 100%;
    border-radius:20px;
    display:flex;
    justify-content: start;
    text-align : center;
    box-sizing: border-box;

}

.main-foto-holder{
    color: #eee;
    width: 77px;
    height: 77px;
    border-radius: 100%;
    background: #eee;
    overflow: hidden;

}

.main-description-box{
    margin-left: 10px;
    height: 77px;
    width: 90%;
    background-color: #eee;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 2%;

}
.username{
    width: 100%;
    text-align: left;


}
.descprition{
    width: 100%;
    text-align: left;
    font-size: 15px;
    background-image: linear-gradient(
        #00d1ff,
        blue
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 

}

.main-coment-box{
    font-size: 20px;
    margin-top: 10px;
    width: 100%;
    box-sizing:border-box;
    padding: 10px 10px;
    border-radius: 20px;
   
}
.comment{
    text-align: justify;
    overflow: hidden;
    text-overflow: clip;

}


.main-img-holder{
    width: 100%;
    height: 300px;
    border-radius: 20px;
    background-color: #eee;
}

.main-interactions-box{
    width: 100%;;
    box-sizing: border-box;
}

.icons-box{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

/*-- fim do css feed --*/
/*-- inicio do css do contact box--*/
.user-box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 64px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-img{
    height: 64px;
    width: 64px ;
    background-color: #eee;
    border-radius: 100%;
    overflow: hidden;
}

.user-info{
    margin-left: 10%;
    box-sizing: border-box;
    padding: 2%;
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;

}
.user-name{
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.user-msg{
    color: grey;
    align-items: center;
    font-size: 15px;
    height:30%;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*-- fim do contact box--*/

/*-- inicio do modal--*/
.modal-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s, ;
}

.modal-bg-active{
    opacity: 1;
    visibility: visible;
}

.modal{
    position: relative;
    width: 40%;
    height: 75%;
    box-sizing: border-box;
    flex-flow: column;
    padding: 1em 1em;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #eee;
    border-radius: 20px;;
}

.modal-close{
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;

}

.bt-modal{
    position:absolute;
    bottom: 1em;
    right: 1em;
    outline: none;
    font-size: 20px;
    background-color: none;
    border: #00d1ff 2px solid;
    border-radius: 20px;
    padding: 0.5em 0.5em;
    cursor: pointer;
}

.status{
    width: 70%;
}
/*-- Fim do modal--*/
.search-input{
    width: 90%;
    border: none;
    outline: none;
    font-size: 20px;
}

.search-input:hover{
    border-bottom: 1px solid black;
}

.Chidden{
    display: none;
    opacity: 0%;
}
.Cshow{
    display: all;
    opacity: 100%;
}


/*Id*/
#content{
    margin: 0;
    display: flex;

}
/*coluna 1*/

#colunm-1{
    margin: 10px 15px;
    background-color: none;
    border-radius: 20px;
    width: 25%;
    box-sizing: border-box;
    overflow: hidden;
    
    
}
#structure{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo-box{
    margin: auto;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    float: top;
    padding: 0.7em 0.7em;
    box-sizing: border-box;
 
}

#contacts-box{
    box-sizing:border-box;
    width: 100%; 
    margin-top: 10px;
    background-color: white;
    border-radius: 20px;
    padding: 10px 10px;
    display: flex;
    height: 400px;
    flex-direction: column;
    justify-content: space-between;    
}
#logo{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;

    background-image: linear-gradient(
        #00d1ff,
        #ff00c7
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}   

#insert-contact-box{
    width: 100%;
    border-radius: 20px;
    box-sizing:border-box;
    flex-flow: column;
    overflow: scroll;
}

#insert-contact-box::-webkit-scrollbar{
    display: none;
}
/*coluna 2*/

#colunm-2 
{
    margin: 10px 10px;
    background-color: none;
    border-radius: 20px;
    width: 60%;
    box-sizing: border-box;
    
}
#search-bar{
    background-color: white;
    height: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    padding: 5px 5px;

    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    position: sticky;
    position: -webkit-sticky; top: 2px;
    

}
#main-box{
    background-color: none;    
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#top-feed{
    margin-top: 20px;
    width: 100%;    
    background-color: none;    
    border-radius: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center; 
}

/*coluna 3*/

#colunm-3{
    margin: 10px 15px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: none;
    width: 25%;
    box-sizing: border-box;
    
}

#action-box{
    background-color: white;
    box-sizing: border-box;
    padding: 15px 10px;
    border-radius: 20px;
    overflow: hidden;
    text-overflow: ellipsis;

}

#trending-box{
    margin-top: 10px;
    background-color: white;
    box-sizing: border-box;
    padding: 15px 10px;
    border-radius: 20px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;

}


/* --Resizing --*/

@media only screen and (max-width: 600px) {
    #colunm-3{
        display: none;
    }

    #contacts-box{
        display: none;
    }
    #logo-box{
        justify-content: center;
        align-items: center;
    }   
    .modal{
        position: relative;
        width: 60%;
        height: 85%;
        box-sizing: border-box;
        flex-flow: column;
        padding: 1em 1em;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: flex-start;
        background-color: #eee;
        border-radius: 20px;;
    }
    #logo{
        display: none;
    }
    #coluna-2{
         margin: 10px 5px;
     }
     #coluna-1{
        margin: 10px 5px;
    }
}

@media only screen and (max-width: 1024px) {
    #colunm-3{
        display: none;
    }
    .main-description-box{
        width: 70%;
    }
    .main-img-holder{
        width: 77px;
        height:68px;
    }
}